/* ===== COMING SOON ===== */

.coming-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}
.coming-card:hover {
  opacity: 0.5;
  transition: 0.3s;
  background-color: var(--hover);
}

.coming-card img {
  flex-shrink: 0;
  width: 80%;
  max-width: 200px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 8px;
}

.coming-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  gap: 4px;
}

.coming-info h4 {
  font-size: 17px;
  font-weight: 600;
  color: #ff6b6b;
}

.coming-info p {
  font-size: 15px;
  color: #aaaaaa;
}

.coming-info span {
  color: white;
}
